   <div class="title2"><span class="fr more"><a href="{XQ_PATH}us/conact.html"><img src="{XQ_STYLE}images/more.jpg" alt=""/></a></span><h2>联系方式 <em>Contact us</em></h2></div>
    <div class="bboby" style="padding-right:0px;">
    <!--p>联系人：{$XQ[webplpoer]}</p-->
    <p>电话：{$XQ[webphone]}</p>
    <!--p>手机：{$XQ[webtel]}</p-->
    <p>传真：{$XQ[webfax]}</p>
    <!--p>QQ：{$XQ[webqq]}</p-->
    <p>邮箱：{$XQ[webmail]}</p>
     <p>网址：http://{str_replace('http:','',str_replace('/', '', $WEB[url]))}</p>
<p>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</p>
   
    </div>
</div>
<div class="left_b_bg"></div>