body{position:relative;background:#0468A4 url('images/body.gif');}
body{color:#333;font:12px/1.5 arial,\5b8b\4f53, sans-serif}
body,ul,li,dl,ol,dt,dd,table,td,th,form,h1,h2,h3,h4,h5,h6,p,img{margin:0;padding:0;list-style:none}
img{border:none}
/*Clear*/
.clear{clear:both;font-size:1px;width:1px;height:1px;line-height:1px;visibility:hidden}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html .clearfix{height:1%}
*+html .clearfix{min-height:1%}
/*Á´½ÓÑùÊ½*/
a:link,a:visited,a:active{color: #333; text-decoration:none}
a:hover{color: #ff0000;text-decoration:none}
/* basic */
.m{ margin:0 auto; width:1002px;}
.m_l {width:253px;float:left;background:url('images/left_bg.jpg') repeat-y;}
.m_r {width:749px; float:right;}
.m_1_l {width:390px;float:left; border-right:1px #DFDFDF solid; }
.m_1_r {width:358px;float:left;}
.mt10{margin-top:10px !important}
.fl{float:left !important}
.fr{float:right !important}
.red{color:red}
.white{color:#fff;}
.font11{ font-size:11px}
/* header */
.header{ height:120px;background:#ffffff url('images/h_bg.jpg') no-repeat center top;}
.logo{width:650px; float:left; padding-top:30px;}
.logor{width:340px; float:left; text-align:right;}
.logor a:link,.logor a:visited,.logor a:active{ color:#a6a6a6}
/* menu */
.menu{ width:972px; margin:0 auto;white-space:nowrap;overflow:hidden;height:42px;line-height:40px;padding:0 15px;background:#236BBF url('images/menubg.gif') repeat-x;}
.menu li{float:left; font-size:14px;}
a.menumain:link,a.menumain:active,a.menumain:visited{
   color: #fff; 
   display:block;
   background:url('images/menu_r.gif') no-repeat right;
   text-decoration: none;
   height:40px;
   float:left;
   width:105px;
   text-align:center;
}

a.menumain:hover{
   color: #fff; 
   text-decoration: none;
   height:40px;
}
/* m */
.mid{background:#fff; padding-top:5px;}
.pro_tit{background:url('images/pro_tit_bg.jpg') no-repeat left top; height:44px;}
.con_tit{background:url('images/contact_tit_bg.jpg') no-repeat left top; height:44px;}
.left_b_bg{background:url('images/left_b_bg.jpg') no-repeat center bottom;height:19px;}
.i_about_title{background:url('images/i_about.jpg') no-repeat; height:23px;}
.i_news_title{background:url('images/i_news.jpg') no-repeat; height:23px; width:327px; }
.i_pros_title{background:url('images/i_pro.jpg') no-repeat; height:23px; margin:20px 0 10px 0; width:715px;}
.more{padding-top:13px; padding-right:5px;}
.title1{background:url(images/title1.jpg) no-repeat; height:37px; line-height:40px; padding:0 5px 0 30px; color:#222; border-bottom:1px #DFDFDF solid;}
.title1 h2{ font-size:14px;}
.title1 em{ font-size:11px; color:#8E8A8A; font-weight:normal;}
.title2{background:url(images/title2.jpg) no-repeat; height:36px; line-height:40px; padding:0 5px 0 30px; color:#222; }
.title2 h2{ font-size:14px;}
.title2 em{ font-size:11px; color:#8E8A8A; font-weight:normal;}
.bboby{padding:10px; line-height:180%;}
.title3{background:url('images/title3.jpg') no-repeat left; height:44px; line-height:44px; padding:0 10px 0 30px; }
.title3 h2{ font-size:14px; padding-left:20px;}
.title3 em{ font-size:10px}
.content-detail{margin:0 auto;line-height:180%; padding:20px; font-size:14px}
.content-detail h1{margin:22px 0 10px;font:100 20px/18px "Microsoft YaHei",SimHei,arial;text-align:center}
.content-detail .info{display:block;height:22px;line-height:22px;color:#999;font-size:12px;text-align:center;margin-bottom:15px;position:relative;}
.content-detail .info a{color:#06c}
.content-detail .info span{padding:0 5px;display:inline;}
.content-detail .summary{border:1px solid #DCDDDD;line-height:23px;padding:10px 8px 6px}


.cont{height:208px;overflow:hidden;width:715px;}
.cont .up,.cont .down{width:25px;height:47px;background:url("images/array.gif") no-repeat;z-index:1000; cursor:pointer; float:left ; margin-top:50px;}
.cont .down{ background-position:-25px 0px;}
.cont .up a,.cont .down a{display:block;width:25px;	height:22px;overflow:hidden;}
.cont a.hidefocus{ outline: none;}
.cont a.hidefocus::-moz-focus-inner {border:none;}
.mids{width:655px; height:200px; overflow:hidden; position:relative; margin:0px 5px;}
#down{position:absolute;}
#ShowList1{position:absolute; left:0px;}
.mids ul{overflow:hidden;}
.mids ul li{width:163px;height:207px;overflow:hidden;float:left; text-align:center;}
.mids img{ border:1px #CCCCCC solid; padding:3px;}
.mids p{ line-height:180%;}
.mids p a{color:#858585;}

.menuclass{margin:0px;padding:5px;}
a.menuclass_list:link,a.menuclass_list:visited,a.menuclass_list:active{
display:block;
text-decoration: none;
font:12px/37px Verdana, Arial, Helvetica, sans-serif;
height:37px;
text-align:left;
background:url(images/dot2.jpg) center no-repeat;
padding-left:35px;
margin:0px;
color:#333;
}
a.menuclass_list:hover{
display:block;
color:#ff0000; 
text-decoration: none;
}
.title{background:url('images/title.jpg') no-repeat;  padding:0 10px 0 10px;color:#fff;}
.title h2{ font-size:14px}
.title em{ font-size:10px}
.title a{ color:#fff}
.boby{ padding:8px 10px; line-height:180%;}
.newslist {
	 padding-left:15px;background: url(images/icon1.gif) no-repeat 0px 5px; height: 23px; border-bottom:1px #a9b3b5 dotted; margin-bottom:5px; overflow:hidden;
}
.newspicmemo { margin:0; padding:0;}
.newspicmemo li {
	PADDING-BOTTOM: 3px; LIST-STYLE-TYPE: none; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; MARGIN-BOTTOM: 3px; CLEAR: all; OVERFLOW: hidden; PADDING-TOP: 3px
}
.picFit {float: left; overflow:hidden; margin-right:13px;}
.newspicmemo .tm { margin-right:6px;}
.newspicmemo .memo {margin-top: 3px; font: 12px/18px simsun; color: #a9b3b5}
/*pro*/
#photoquery_dolphin {
	MARGIN: 0px; padding:10px; display:block
}
#photoquery_dolphin UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#photoquery_dolphin LI {
	TEXT-ALIGN: center; LIST-STYLE-TYPE: none; MARGIN: 20px 10px; FLOAT: left; border:1px #E3E1E1 solid
}
#photoquery_dolphin DIV.fang {
	BORDER-BOTTOM: #b1b1b1 0px solid; TEXT-ALIGN: center; BORDER-LEFT: #b1b1b1 0px solid; PADDING-BOTTOM: 0px; MARGIN: 8px 4px 9px 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #b1b1b1 0px solid; BORDER-RIGHT: #b1b1b1 0px solid; PADDING-TOP: 0px
}
#photoquery_dolphin DIV.picFit {
	OVERFLOW: hidden
}
#photoquery_dolphin DIV.picFit IMG {
	
}
#photoquery_dolphin DIV.ititle {
	TEXT-ALIGN: center; WHITE-SPACE: nowrap; MARGIN-BOTTOM: 4px; OVERFLOW: hidden
}
.album{padding:5px;border:#CCCCCC 1px solid;background:#F3F3F3;}
.content_option{ margin-bottom:20px;}
.catlist {padding:15px 20px 15px 20px;line-height:24px; }
.catlist_li {font-size:14px;height:28px;line-height:28px;background:url(images/news_ico.jpg) no-repeat 5px 12px;padding:0 10px 0 12px;overflow:hidden;}
.catlist_sp { border-bottom:1px #CCCCCC dashed; height:5px;}
/* footer */
.footer{ padding:0px; background:url('images/footbg.jpg') repeat-x; height:45px; line-height:45px;text-align:center; width:1002px; margin:0px auto; }
.footer p a{ padding:0px 5px;}
.footer_b{background:#ffffff url('images/footer_b.jpg') no-repeat; height:65px; padding-top:10px;}
.footer_b p{ line-height:250%;}
.piclink{border-bottom:#DDD solid 1px; padding:0 5px 0 8px; margin-top:5px;}
.piclink img{ border:1px #CCCCCC solid; padding:2px; margin-right:2px;}
/* pages */
.pages {margin:10px 0px; padding: 3px; text-align: center; color:#333;font-size:12px; font-family:Tahoma;}
.pages a:link,.pages a:visited,.pages a:active  {padding:2px 5px; color: #333; text-decoration: none; border: 1px solid #DCD9D4;}
.pages a:hover  { color: #fff; border: 1px solid #DCD9D4; background-color:#DCD9D4;}
.pages strong {font-weight: bold;  color: #000; }
.pages_inp {border:#DCD9D4 1px solid;padding:1px;width:30px;text-align:center;color:#333;}
.pages_btn {width:26px;border:#DCD9D4 1px solid;font-weight:bold;font-size:11px; cursor:pointer}
.pages label {border:#1D5098 1px solid;color:#1D5098;padding:3px;}
.pages label em {color:red;font-weight:bold;font-style:normal;}
.pages label span {font-weight:bold;}
.pages cite {font-style:normal;}

.piclist img{border:1px #dddddd solid;padding:1px}
.pictitle{ margin-bottom:10px;}
